<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Billing System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left side links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ordermanagement/customertable/">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/inventory/producttable/">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/ordermanagement/ordertable/">Orders</a>
        </li>
      </ul>

      

      <!-- Right side Create user & logout -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/signin/">Create User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
